{
 "presets": [
   ["@babel/preset-env", {
     "targets": {
       "browsers": ["last 2 versions"],
       "node": "current",
     },
   }],
   "@babel/react",
 ],
 "plugins": [
   "emotion",
   "react-hot-loader/babel",
   "@babel/plugin-transform-runtime",
   "@babel/transform-flow-strip-types",
   "@babel/plugin-proposal-class-properties",
   "@babel/plugin-syntax-dynamic-import",
   "@babel/plugin-proposal-optional-chaining",
   "@babel/plugin-proposal-nullish-coalescing-operator"
 ],
}
